.cta {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  color: var(--forth-color);
  margin-top: 20px;
}

.card1 {
  width: 20%;
  height: 95%;
  border-radius: 20px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.icon {
  width: 55px;
  height: 60px;
  background-color: #f4f5f9;
  border-radius: 10px;
  padding: 9px;
  transition: 0.3s;
}

.icon i {
  font-size: 33px;
  color: var(--card-cta-color);
}
