@import url(variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    "inter",
    system-ui,
    -apple-system,
    sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  /* Optimize rendering */
  will-change: auto;
}

body {
  background-color: var(--bg-color);
  /* padding-top: 80px; */
  /* Prevent layout shift from scrollbar */
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  position: fixed;
  z-index: 1000;
  background-color: rgba(253, 253, 254, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid rgb(207, 207, 207);
  /* Optimize layer performance */
  contain: layout style paint;
}

.header .logo {
  font-size: var(--logo-fs);
  color: var(--primary-color);
  font-weight: 800;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation ul {
  display: flex;
  gap: 30px;
  font-size: var(--md-font-size);
  font-weight: 700;
}

.navigation ul li {
  list-style: none;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

.prev-btn:hover .arrow{
  transform: translateX(-5px);
}

.navigation ul li a {
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  color: var(--secondary-color);
}

.header .reg-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.header .reg-btn a.sign-in_report {
  text-decoration: none;
  color: var(--bg-color);
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}

.header .reg-btn a.sign-in:hover {
  background-color: var(--secondary-cta-color);
  color: var(--primary-color);
}
