/* CSS VARIABLES */

:root {
  /* FONT COLOR */
  --primary-color: #1e3b8a;
  --secondary-color: #121317;
  --third-color: #4b5563;
  --forth-color: #ffffff;

  /* BUTTON COLOR */
  --lm-color: #0d9488;
  --cta-color: #334d94;
  --secondary-cta-color: #ebecf2;
  --card-cta-color: #385298;

  /* CARD COLOR */
  --card-color: #1f3c8a;

  /* BG COLOR */
  --bg-color: #f6f6f8;
  --trust-card-color: #ffffff;

  /* HEADER COLOR */
  --header-color: #fdfdfe;

  /* FONT SIZES */

  --l-font-size: 72px;
  --md-font-size: 14px;
  --logo-fs: 20px;
  --cta-fs: 18px;
  --title-fs: 36px;
  --card-fs: 48px;
}